In [2]:
import numpy as np
import pandas as pd

In [3]:
listings_metadata_df = pd.read_csv("Listings_data_dictionary.csv")
listings_metadata_df

,Field,Description
0,listing_id,Listing ID
1,name,Listing Name
2,host_id,Host ID
3,host_since,Date the Host joined Airbnb
4,host_location,Location where the Host is based
5,host_response_time,Estimate of how long the Host takes to respond
6,host_response_rate,Percentage of times the Host responds
7,host_acceptance_rate,Percentage of times the Host accepts a booking...
8,host_is_superhost,Binary field to determine if the Host is a Sup...
9,host_total_listings_count,Total listings the Host has in Airbnb
10,host_has_profile_pic,Binary field to determine if the Host has a pr...
11,host_identity_verified,Binary field to determine if the Host has a ve...
12,neighbourhood,Neighborhood the Listing is in
13,district,District the Listing is in
14,city,City the Listing is in
15,latitude,Listing's latitude
16,longitude,Listing's longitude
17,property_type,Type of property for the Listing
18,room_type,Type of room type in Airbnb for the Listing
19,accommodates,Guests the Listing accomodates
20,bedrooms,Bedrooms in the Listing
21,amenities,Amenities the Listing includes
22,price,Listing price (in each country's currency)
23,minimum_nights,Minimum nights per booking
24,maximum_nights,Maximum nights per booking
25,review_scores_rating,Listing's overall rating (out of 100)
26,review_scores_accuracy,Listing's accuracy score based on what's promo...
27,review_scores_cleanliness,Listing's cleanliness score (out of 10)
28,review_scores_checkin,Listing's check-in experience score (out of 10)
29,review_scores_communication,Listing's communication with the Host score (o...
30,review_scores_location,Listing's location score within the city (out ...
31,review_scores_value,Listing's value score relative to its price (o...
32,instant_bookable,Binary field to determine if the Listing can b...

In [4]:
listings_df = pd.read_csv("Listings.csv", encoding='ISO-8859-1', low_memory=False)
listings_df.head(3)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [5]:
listings_df.tail(3)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
279709,38683356,Nice and cosy mini-appartement in Paris,2238502,2012-04-27,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,6,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279710,39659000,Charming apartment near Rue Saint Maur / Oberk...,38633695,2015-07-16,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,3,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
279711,40219504,Cosy apartment with view on Canal St Martin,6955618,2013-06-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [6]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279537 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  object
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 70.4+ MB

In [7]:
listings_df.describe()

,listing_id,host_id,host_response_rate,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bedrooms,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,2.797120e+05,2.797120e+05,150930.000000,166625.000000,279547.000000,279712.000000,279712.000000,279712.000000,250277.000000,279712.000000,279712.000000,2.797120e+05,188307.000000,187999.000000,188047.000000,187941.000000,188025.000000,187937.000000,187927.000000
mean,2.638196e+07,1.081658e+08,0.865939,0.827168,24.581612,18.761862,12.595075,3.288736,1.515509,608.792737,8.050967,2.755860e+04,93.405195,9.565476,9.312869,9.701534,9.698593,9.633994,9.335364
std,1.442576e+07,1.108570e+08,0.283744,0.289202,284.041143,32.560343,73.081309,2.133379,1.153080,3441.826611,31.518946,7.282875e+06,10.070437,0.990878,1.146072,0.867434,0.886884,0.833234,1.042625
min,2.577000e+03,1.822000e+03,0.000000,0.000000,0.000000,-34.264400,-99.339630,0.000000,1.000000,0.000000,1.000000,1.000000e+00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,1.384462e+07,1.720656e+07,0.900000,0.780000,1.000000,-22.964390,-43.198040,2.000000,1.000000,75.000000,1.000000,4.500000e+01,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,2.767098e+07,5.826911e+07,1.000000,0.980000,1.000000,40.710785,2.382780,2.000000,1.000000,150.000000,2.000000,1.125000e+03,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
75%,3.978485e+07,1.832853e+08,1.000000,1.000000,4.000000,41.908610,28.986730,4.000000,2.000000,474.000000,5.000000,1.125000e+03,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,4.834353e+07,3.901874e+08,1.000000,1.000000,7235.000000,48.904910,151.339810,16.000000,50.000000,625216.000000,9999.000000,2.147484e+09,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [8]:
listings_df.shape

(279712, 33)

In [9]:
listings_df.columns

Index(['listing_id', 'name', 'host_id', 'host_since', 'host_location',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'district', 'city', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bedrooms', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable'],
      dtype='object')

In [10]:
listings_df.dtypes

listing_id                       int64
name                            object
host_id                          int64
host_since                      object
host_location                   object
host_response_time              object
host_response_rate             float64
host_acceptance_rate           float64
host_is_superhost               object
host_total_listings_count      float64
host_has_profile_pic            object
host_identity_verified          object
neighbourhood                   object
district                        object
city                            object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
amenities                       object
price                            int64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object

In [11]:
listings_df.isnull()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
279708,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
279709,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
279710,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
279711,False,False,False,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
listings_df['city'].unique()

array(['Paris', 'New York', 'Bangkok', 'Rio de Janeiro', 'Sydney',
       'Istanbul', 'Rome', 'Hong Kong', 'Mexico City', 'Cape Town'],
      dtype=object)

In [13]:
listings_df['host_location'].nunique()

7159

In [14]:
listings_df.isna().sum()

listing_id                          0
name                              175
host_id                             0
host_since                        165
host_location                     840
host_response_time             128782
host_response_rate             128782
host_acceptance_rate           113087
host_is_superhost                 165
host_total_listings_count         165
host_has_profile_pic              165
host_identity_verified            165
neighbourhood                       0
district                       242700
city                                0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bedrooms                        29435
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
review_scores_rating            91405
review_scores_accuracy          91713
review_scores_cleanliness       91665
review_scores_checkin           91771
review_scores_communication     91687
review_scores_location          91775
review_scores_value             91785
instant_bookable                    0
dtype: int64

In [15]:
print(listings_df[listings_df['price'] == 0])

        listing_id                                         name    host_id
98209     44312919  Bienvenue ÃÂ  l'HÃÂ´tel des 3 CollÃÂ¨ges  357400186  \
202022    42830099                                   Hotel Hugo  300800542
202023    43247472                                     Hotel 57  324955773
203253    43205598                             Wellington Hotel  335389657
203254    44567521                   The Standard, East Village  360662584
...            ...                                          ...        ...
208940    42534857                       A.Roma Lifestyle Hotel  309508008
208941    43036135                   Hotel Principessa Isabella  312575420
210617    42065564                          The Wall Street Inn  314151200
212834    43308777                          Peace & Love Hostel  333135832
213806    40560656         The Hoxton, Williamsburg - Cosy Room  273324213

        host_since                          host_location host_response_time
98209   2020-07-20                                     FR                NaN  \
202022  2019-10-07      New York, New York, United States     within an hour
202023  2020-01-06      New York, New York, United States     within an hour
203253  2020-02-11      New York, New York, United States     within an hour
203254  2020-08-05                                     US     within an hour
...            ...                                    ...                ...
208940  2019-11-14                                     IT                NaN
208941  2019-11-27  Cape Town, Western Cape, South Africa                NaN
210617  2019-12-03      New York, New York, United States       within a day
212834  2020-02-03                                     FR       within a day
213806  2019-07-03                                     US     within an hour

        host_response_rate  host_acceptance_rate host_is_superhost
98209                  NaN                   NaN                 f  \
202022                 1.0                  1.00                 f
202023                 1.0                  1.00                 f
203253                 1.0                  1.00                 f
203254                 1.0                  1.00                 f
...                    ...                   ...               ...
208940                 NaN                   NaN                 f
208941                 NaN                   NaN                 f
210617                 0.8                  0.86                 f
212834                 1.0                  0.99                 f
213806                 1.0                  1.00                 f

        host_total_listings_count  ... minimum_nights maximum_nights
98209                         0.0  ...              1           1125  \
202022                        9.0  ...             30            365
202023                        4.0  ...             30            365
203253                        0.0  ...              1            365
203254                        0.0  ...              1            365
...                           ...  ...            ...            ...
208940                        0.0  ...              1            365
208941                        0.0  ...              1            365
210617                        8.0  ...              1             30
212834                        1.0  ...              1            365
213806                        1.0  ...              1            365

       review_scores_rating review_scores_accuracy review_scores_cleanliness
98209                   NaN                    NaN                       NaN  \
202022                  NaN                    NaN                       NaN
202023                  NaN                    NaN                       NaN
203253                  NaN                    NaN                       NaN
203254                  NaN                    NaN                       NaN
...                     ...                    ...                       ...
208940                  NaN                    NaN                       NaN
208941                  NaN                    NaN                       NaN
210617                  NaN                    NaN                       NaN
212834                  NaN                    NaN                       NaN
213806                  NaN                    NaN                       NaN

        review_scores_checkin  review_scores_communication
98209                     NaN                          NaN  \
202022                    NaN                          NaN
202023                    NaN                          NaN
203253                    NaN                          NaN
203254                    NaN                          NaN
...                       ...                          ...
208940                    NaN                          NaN
208941                    NaN                          NaN
210617                    NaN                          NaN
212834                    NaN                          NaN
213806                    NaN                          NaN

       review_scores_location review_scores_value  instant_bookable
98209                     NaN                 NaN                 f
202022                    NaN                 NaN                 f
202023                    NaN                 NaN                 f
203253                    NaN                 NaN                 f
203254                    NaN                 NaN                 f
...                       ...                 ...               ...
208940                    NaN                 NaN                 f
208941                    NaN                 NaN                 f
210617                    NaN                 NaN                 f
212834                    NaN                 NaN                 f
213806                    NaN                 NaN                 f

[113 rows x 33 columns]

In [16]:
Reviews_metadata_df = pd.read_csv("Reviews_data_dictionary.csv")
Reviews_metadata_df

         Field  Description
0   listing_id   Listing ID
1    review_id    Review ID
2         date  Review date
3  reviewer_id  Reviewer ID

In [17]:
Reviews_df = pd.read_csv("Reviews.csv")
Reviews_df

         listing_id  review_id        date  reviewer_id
0             11798  330265172  2018-09-30     11863072
1             15383  330103585  2018-09-30     39147453
2             16455  329985788  2018-09-30      1125378
3             17919  330016899  2018-09-30    172717984
4             26827  329995638  2018-09-30     17542859
...             ...        ...         ...          ...
5373138    47779342  726766332  2021-01-25    283094516
5373139    47823964  727963021  2021-01-31     76411977
5373140    47896175  728548625  2021-02-02     71370946
5373141    47900451  727399287  2021-01-29    109011160
5373142    47998038  730320626  2021-02-11    276790978

[5373143 rows x 4 columns]

In [18]:
Reviews_df.isna().sum()

listing_id     0
review_id      0
date           0
reviewer_id    0
dtype: int64

In [19]:
Reviews_df.dtypes

listing_id      int64
review_id       int64
date           object
reviewer_id     int64
dtype: object